* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
 
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #202020;
    font-weight: 400;
    line-height: 1.5;

.section-title {
        font-size: 22px;
        font-weight: 600;
        letter-spacing: 2px;
        color: #202020;
     }
  }
  .nav-list {
    display: flex;
    justify-content: center; 
    align-items: center;
    list-style: none;
    } 
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: 0.3s;
    cursor: pointer;
    color: #202020;
    text-decoration: none;  
    }
  .nav-link:hover {
    color: #d40b0b;
    }
    .container {
    max-width: 1440px;
    margin: 0 auto;
    }
  .main-container {
    display: flex;
    flex-wrap: wrap;
    }
  .section {
    width: 50%;
  }
  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
  img.profile-photo {
    width: 100px;
    }
    .logo-school {
   display: block;
   margin: 0 auto;
   width: 100px;
}
footer {
   display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  }
  .logo-container {
    margin-left: auto;
  }